@charset "UTF-8";

:root{
    --cor1: #00000056;
    --cor2: #0c1833;
    --cor3: #2E4172;
    --cor4: #4F628E;
    --cor5: #7887AB;
    
}
*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../imagens/imagessss.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    /*background-color: var(--cor2);*/
}

main img{
    width: 100px;
}

#conteudo{
    border: 1px solid black;
    border-radius: 8%;
    background-color: var(--cor1);
    height: 465px;
    width: 390px;
    text-align: center;
    margin: 35px auto;
    padding: 10px;
}

#principal h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
}

#principal img{
    margin: auto auto 28px auto;
    display: flex;
}

#redes p{
    background-color: var(--cor3);
    padding: 9px;
    border-radius: 11px;
    width: 350px;
    margin: 22px auto 22px auto;
}

#redes a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

#redes p:hover{
    background-color: rgb(97, 30, 160);
    transition-duration: 0.5s;
}